<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
<!-- <bean class="com.corespring.auto.wire.Address" name="address">
<property name="myaddress" value="asanduse 5 , tallin"></property>
</bean> -->
<bean class="com.corespring.auto.wire.Address" name="address">
<property name="myaddress" value="suur sojamae 12"></property>
</bean>
<bean class="com.corespring.auto.wire.Building" name="build" autowire="byName"></bean>
	</beans>